.products {
  margin-top: -1px;

  &__top {
    padding: 59px 30px 58px 30px;
    align-items: center;
    justify-content: space-between;

    &::before {
      display: block;
      content: "";
      width: 225px;
      height: 156px;
      background-image: url("../../img/scorpions.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include mobile {
        width: 100px;
        height: 70px;
      }
    }

    &::after {
      display: block;
      content: "";
      width: 225px;
      height: 156px;
      background-image: url("../../img/scorpions-2.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include mobile {
        width: 100px;
        height: 70px;
      }
    }
  }

  &__title {
    margin: 0;
    max-width: 785px;
    font-weight: 400;
    font-size: 65px;
    line-height: 72.576px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);

    @include tablet {
      padding: 40px 0;
    }

    @include mobile {
      padding: 20px;
      font-size: 45px;
      line-height: 50px;
    }
  }

  &__bottom {
    position: relative;
    padding-top: 20px;
    margin-top: -1px;
  }

  &__decoration {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 40px);

    svg {
      &:nth-child(2) {
        transform: translateX(-15px);
      }

      &:nth-child(3) {
        transform: translateX(10px);
      }
    }

    @include tablet {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    padding: 0 20px;
    padding-bottom: 20px;
  }

  &__item {
    @include tablet {
      width: calc(50% - 13px);
    }

    @include mobile {
      width: 100%;
    }
  }

  &__ticker {
    margin-top: -1px;
  }

  &__phrase {
    padding: 24px 0;
    font-size: 17px;
    line-height: 25.92px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__cover {
    padding: 20px;

    img {
      width: 100%;
    }
  }
}
