<section class="hero">
  <div class="container">
    <div class="hero__block border-block flex">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img src="img/ujjo.svg" alt="Ujjo">
        </div>
        <div class="hero__phrase ticker">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              Put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__img">
            </div>
            <div class="ticker__item">
              Put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__img">
            </div>
            <div class="ticker__item">
              Put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__img">
            </div>
            <div class="ticker__item">
              Put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__img">
            </div>
            <div class="ticker__item">
              Put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__img">
            </div>
            <div class="ticker__item">
              Put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__img">
            </div>
          </div>
        </div>
        <div class="hero__image">
          <img src="img/hero-img.jpg" alt="Ujjo sause">
        </div>
      </div>
      <div class="hero__right">
        <h2 class="hero__title">THE FIRST HOT SAUCE MADE FOR COFFEE</h2>
        <div class="hero__image-2">
          <img src="img/hero-img-2.jpg" alt="Ujjo sause 2">
        </div>
      </div>
    </div>
  </div>
</section>